idea.txt
**gpt**
**temp**
.env
.venv
projects/*
prompts/code_instructions/*
prompts/web3_projects/*

code_bugfix.md

!prompts/web3_projects/gte.txt
!projects/gte/
!projects/gte/**
!projects/이미지_테스트/
!projects/pdf_테스트/
!projects/code_개선/
!projects/ai_orchestrator_improve/
!projects/ai_orchestrator_improve/**
!projects/이미지_테스트/**
!projects/pdf_테스트/**
!projects/code_개선/**

model_search_result.txt
.python-version
test.py
test_prompts
__pycache__
res_data_priv
attachment/*
!attachment/test.jpg
!attachment/test.pdf
!attachment/test.py
prompts/test/*
!prompts/test/img.md
!prompts/test/pdf.md
!prompts/test/code.md
backup
model_cache.json
**live_logs**
openRouter-docs/
*.log
batch_logs/
research_batch.md
**_temp_**